@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: Lato, sans-serif;
}

:root {
	--bg: #0b0b0b;
	--nav: #1e1e1e;
	--muted: #b3b3b3;
	--accent-red: #e50914;
	--gold: #ffd700;
	font-family: Lato, sans-serif;
}

body {
	margin: 0;
	min-height: 100vh;
}

/* .app {
	background: var(--bg);
	color: #fff;
	font-family: 'Lato', sans-serif;
	min-height: 100dvh;
} */
/* .header__title {
	font-family: 'Inter', sans-serif;
} */
.movie-card__poster {
	border-radius: 8px;
	overflow: hidden;
}
.movie-card__btn {
	transition: transform 0.14s ease, filter 0.14s ease;
}
.movie-card__btn:hover {
	transform: translateY(-2px);
	filter: brightness(0.95);
}
.poster-overlay {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.75) 100%);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30%;
}




